@using Orchard.Mvc.Html;
@using Orchard.UI.Resources;

@{
    Script.Include("html5.js").UseCondition("lt IE 9").AtHead();

    string title = Convert.ToString(Model.Title);
    string siteName = Convert.ToString(WorkContext.CurrentSite.SiteName);
}
<!DOCTYPE html>
<html lang="en-us" class="static @Html.ClassForPage()">
<head>
    <meta charset="utf-8" />
    <title>@Html.Title(title, siteName)</title>

    <link rel="apple-touch-icon" sizes="180x180" href="https://indivisibletacoma.blob.core.windows.net/media/Default/favicon/apple-touch-icon.png">
    <link rel="icon" type="image/png" href="https://indivisibletacoma.blob.core.windows.net/media/Default/favicon/favicon-32x32.png" sizes="32x32">
    <link rel="icon" type="image/png" href="https://indivisibletacoma.blob.core.windows.net/media/Default/favicon/favicon-16x16.png" sizes="16x16">
    <link rel="manifest" href="https://indivisibletacoma.blob.core.windows.net/media/Default/favicon/manifest.json">
    <link rel="mask-icon" href="https://indivisibletacoma.blob.core.windows.net/media/Default/favicon/safari-pinned-tab.svg" color="#5bbad5">
    <link rel="shortcut icon" href="https://indivisibletacoma.blob.core.windows.net/media/Default/favicon/favicon.ico">
    <meta name="msapplication-config" content="https://indivisibletacoma.blob.core.windows.net/media/Default/favicon/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="msapplication-config" content="/Themes/Bourbon/Content/img/browserconfig.xml">
    <meta name="theme-color" content="#ffffff">
    <meta name="Description" content="Resisting the Trump/Bannon agenda in the Great Pacific Northwest!.">
    <!--Facebook Open Graph -->
    <meta property="og:title" content="Indivisible Tacoma" />
    <meta property="og:type" content="website" />
    <meta property="og:description" content="Resisting the Trump/Bannon agenda in the Great Pacific Northwest!" />
    <meta property="og:image" content="https://indivisibletacoma.blob.core.windows.net/media/Default/images/IndTac_logo_final_social.jpg" />

    <!--Twitter Open Graph -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Indivisible Tacoma" />
    <meta name="twitter:description" content="Resisting the Trump/Bannon agenda in the Great Pacific Northwest!" />
    <meta name="twitter:image" content="https://indivisibletacoma.blob.core.windows.net/media/Default/images/IndTac_logo_final_social.jpg" />


    @Display(Model.Head)
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script type="text/javascript">
        (function (d) { d.className = "dyn" + d.className.substring(6, d.className.length); })(document.documentElement);
    </script>
    <script>(function (d) { d.className = "dyn" + d.className.substring(6, d.className.length); })(document.documentElement);</script>
    <script>window.isRTL = false;</script>
   <!--<script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', 'https://www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'xxxxxxxxxxxxxxxxx', 'auto');
        ga('send', 'pageview');

        $(document).ready(function () {
            $("a[href$='pdf']").each(function (index) {
                pdfLabel = $(this).attr('href');
                pdfOnClick = "ga('send', 'event', 'PDF', '" + pdfLabel + "');";
                $(this).attr("onClick", pdfOnClick);
            });
            $("a[href$='jpg']").each(function (index) {
                jpgLabel = $(this).attr('href');
                jpgOnClick = "ga('send', 'event', 'JPG', '" + jpgLabel + "');";
                $(this).attr("onClick", jpgOnClick);
            });
            $("a[href$='png']").each(function (index) {
                pngLabel = $(this).attr('href');
                pngOnClick = "ga('send', 'event', 'PNG', '" + pngLabel + "');";
                $(this).attr("onClick", pngOnClick);
            });
        });
    </script>-->
    <!--<script src="https://ssl.google-analytics.com/ga.js"></script>-->

    @*<meta name="google-translate-customization" content="19550533bc01cdc4-0c3ee6957ab7c569-g47aa7783d7cf85ce-12"></meta>*@


</head>
<body>
    @* Layout (template) is in the Body zone @ the default position (nothing, zero, zilch) *@
    @Display(Model.Body)
    @Display(Model.Tail)
    @*<script type="text/javascript">
    function googleTranslateElementInit() {
        new google.translate.TranslateElement({ pageLanguage: 'en', layout: google.translate.TranslateElement.InlineLayout.SIMPLE, gaTrack: true, gaId: 'UA-86936478-1' }, 'google_translate_element');
    }
    </script>*@
    @*<script type="text/javascript" src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>*@
</body>
</html>
